/**** wrapper ****/

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.wrapper--nav {
  height: 3em;
  line-height: 4em;
  text-align: center;
  vertical-align: middle;
  /*border-bottom: 1px solid #ccc;*/
}

.wrapper--nav--link {
  font-size: 1.2em;
  margin: 0 0.4em;
  text-decoration: none;
  color: #000;
  font-family: Futura, 'Questrial', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.wrapper--nav--link:hover {
  color: #666;
}

.wrapper--logo {
  width: 100%;
  height: auto;
  max-width: 800px;
}


/*** hamburger ***/
/* Fix Android */
body {
  -webkit-animation: bugfix infinite 1s;
}
@-webkit-keyframes bugfix {
  from {padding:0;}
  to {padding:0;}
}

/* Hide checkbox */
#wrapper--hidden-input {
   position: absolute;
   top: -9999px;
   left: -9999px;
}

/* Like a link would behave */
.wrapper--hamburger {
  cursor: pointer;
  user-select: none;
  position: fixed;
  top: 50px;
  right: 100px;
  z-index: 5000;
}

/* checked */
#wrapper--hidden-input:checked ~ .wrapper--overlay {
   display: block;
}

#wrapper--hidden-input:checked ~ .wrapper--hamburger {
   color: #fff;
}

/* Overlay style */
.wrapper--overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

/* Menu style */
.wrapper--overlay--nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  font-size: 54px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.wrapper--overlay--ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

.wrapper--overlay--li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
}

.wrapper--overlay--link {
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.wrapper--overlay--link:hover,
.wrapper--overlay--link:focus {
  color: #e3fcb1;
}
